/* styles.css */
.scrollToTopBtn {
    display: none; /* 初期状態では非表示 */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 50px;
    background-color: #555; /* 背景色 */
    color: white; /* テキスト色 */
    padding: 0; /* 内側の余白をなしに */
    border: none; /* 枠線なし */
    cursor: pointer; /* ポインタの形状 */
    transition: opacity 0.3s; /* フェードイン/アウトのトランジション */
    width: 50px; /* 幅 */
    height: 50px; /* 高さ */
    text-align: center; /* テキストの中央揃え */
    line-height: 50px; /* テキストの高さを中央に */
    border-radius: 10%; /* 角を四角形に設定 */
}

.scrollToTopBtn:hover {
    background-color: #333; /* ホバー時の背景色 */
}
